<p>Test
</p>

<br>

<html>
  <body>
    <form action="upload_photo" method="POST" enctype="multipart/form-data">
      Upload File: <input type="file" name="file"><br>
      <input type="submit" name="submit" value="Submit">
    </form>
    {% for image_entity in image_entities %}
    <img src="{{image_entity['image_public_url']}}" width=200 height=200>
      <p>{{image_entity['blob_name']}}.</p>
      {% endfor %}
    <audio controls="controls">
    	<source src="data:audio/mpeg;base64,"+{image_entity['audio']}>
    </audio>

  </body>
</html> 
